* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 11px;
}

.main--container {
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #f5faff;
}

.main-auth__container {
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #f5faff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid--container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 6em;
}

.flex--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-auth {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 31px;
  padding: 40px;
  width: 100%;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(108, 99, 255, 0.15);
  border-radius: 0.25rem;
}

.input {
  /* min-width: 60px; */
  width: 100%;
  border: 0.5px solid #858585;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.form-gap {
  display: grid;
  gap: 1em;
}

.login {
  display: block;
  border-radius: 10px;
  background-color: #49a05c;
  border: 1px solid #49a05c;
  width: 100%;
  height: 40px;
  color: #fff;
}

.login:hover {
  opacity: 0.7;
  cursor: pointer;
}

.dashboard--container {
  display: grid;
  width: 90%;
  margin: 40px auto 0 auto;
  gap: 1em;
  font-family: "Nunito Sans", sans-serif;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-link:nth-child(6):hover {
  background-color: transparent;
}

.sidebar-link:nth-child(6) {
  margin-top: 15px;
}

.text-green {
  color: #49a05c;
}

.sidebar-btn {
  height: 35px;
  color: white;
  background: #49a05c;
  border: 1px solid #49a05c;
  border-radius: 5px;
  width: 130px;
  margin: 20px 30px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile-drop__triangle {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin-left: 5px;
  border-top: 4px solid #49a05c;
}

.sidebar {
  grid-column: 1 / span 1;
  grid-row: first-line / 1;
  background-color: #fff;
  border-radius: 10px;
  min-width: 236px;
  max-width: 100%;
  height: 500px;
}

.dashboard-table__container {
  grid-column: 2 / span 4;
  grid-row: first-line / 1;
}

.profile-sidebar__child {
  display: flex;
  padding: 17px;
  gap: 1em;
  align-items: center;
}

.text-green2 {
  color: #0d7010;
}

.text-bold {
  font-weight: bold;
}

.profile-sidebar {
  border-bottom: 0.6px solid #49a05c;
}

.table-btn {
  background: #49a05c;
  border-radius: 5px;
  height: 35px;
  width: 150px;
  margin: auto;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.copyright {
  color: #858585;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-mobile {
  display: none;
}

.nav-bar--container {
  width: 90%;
  margin: auto;
}

.nav-link__container {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-link {
  margin: 0 20px 0 20px;
  cursor: pointer;
}

.nav-btn {
  border: 1px solid #00b600;
  border-radius: 5px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.nav-link:nth-child(2) {
  margin-left: auto;
}

.avatar-background {
  background: #dcfce8;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-dropdown {
  display: flex;
  align-items: center;
}

.sidebar-links__container {
  list-style: none;
}

.sidebar-link {
  height: 42px;
  display: flex;
  align-items: center;
  padding-left: 17px;
}

.sidebar-link:hover,
.active {
  background-color: rgba(241, 254, 246, 0.9);
  cursor: pointer;
}

.sidebar-link__child {
  min-width: 100px;
  max-width: 100%;
  display: flex;
  gap: 2em;
}

.dashboard-table__container {
  background-color: #fff;
}

.current-path {
  border-bottom: 0.6px solid #49a05c;
  padding: 20px 0 14px 30px;
  display: flex;
  align-items: center;
}

.dashboard-table-body__container {
  padding: 30px;
}

.dashboard-table-innerlinks__container {
  list-style: none;
  display: flex;
  gap: 4em;
}

.innerlink {
  text-transform: uppercase;
  font-weight: bold;
  /* overflow: hidden; */
  padding-bottom: 10px;
}

.innerlink:hover,
.active-innerlink {
  border-bottom: 2px solid #49a05c;
  cursor: pointer;
  padding: 0;
}

.text-mute {
  color: #858585;
}

.text-mute:hover {
  border: none;
  cursor: auto;
}
.dashboard-table-innerlinks__container {
  border-bottom: 1px solid #858585;
  margin-bottom: 30px;
}

.dashboard-table-cards__container {
  display: grid;
  gap: 1em;
}

.table-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 0.2px solid #49a05c;
  padding: 20px;
  border-radius: 5px;
}

.pages-container {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  align-items: center;
  padding-top: 10px;
}

.page {
  border-radius: 5px;
  height: 25px;
  width: 25px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-active {
  background: #defae8;
  color: #49a05c;
}

.pages-list__container {
  list-style: none;
  display: flex;
  min-width: 170px;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav {
  display: none;
}

.arrow-left {
  display: none;
}

/* phones */
@media only screen and (max-width: 600px) {
  .grid--container {
    grid-template-columns: 1fr;
    align-items: end;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger__container {
    width: 25px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .item:nth-child(1) {
    grid-column: 1 / span 1;
  }

  .item:nth-child(2) {
    grid-column: 2 / span 1;
  }

  .item:nth-child(5) {
    grid-column: 1 / span 2;
  }

  .arrow-left {
    display: flex;
    margin-right: 5px;
  }

  .hamburger__line {
    border-bottom: 2px solid black;
  }

  .design-illus {
    display: none;
  }

  .auth-mobile {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .copyright {
    display: none;
  }

  .copyright-mobile {
    color: #858585;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-auth {
    padding: 10px;
  }

  .sidebar {
    display: none;
  }
  .dashboard--container {
    margin: 20px auto 0 auto;
    width: 100%;
  }

  .nav-bar--container {
    width: 100%;
  }

  .nav-link__container {
    display: none;
  }

  .dashboard-table__container {
    grid-column: 1 / span 4;
  }

  .table-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2em;
  }
}

/* @media screen and (min-device-width: 280px) and (max-device-width: 300px) {
  .dashboard-table-innerlinks__container {
    gap: 0;
  }
  .table-card {
    grid-template-columns: 1fr;
  }
} */
/* tablets */
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .grid--container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 6em;
  }

  .item:nth-child(1) {
    grid-column: 1 / span 1;
  }

  .item:nth-child(2) {
    grid-column: 2 / span 1;
  }

  .item:nth-child(5) {
    grid-column: 1 / span 2;
  }
  .dashboard--container {
    margin: 20px auto 0 auto;
    width: 100%;
  }

  .nav-bar--container {
    width: 100%;
  }

  .table-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2em;
  }
}

/* Small laptops */
@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .grid--container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 6em;
  }
  .dashboard--container {
    margin: 20px auto 0 auto;
  }

  .item:nth-child(1) {
    grid-column: 1 / span 1;
  }

  .item:nth-child(2) {
    grid-column: 2 / span 1;
  }

  .item:nth-child(5) {
    grid-column: 1 / span 2;
  }

  .table-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
